body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* shared card */
.card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.card h2 {
  margin-bottom: 20px;
}

/* inputs */
input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

/* buttons */
button {
  width: 95%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #5a67d8;
}

/* links */
a {
  color: #667eea;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#msg {
  margin-top: 10px;
  color: red;
}

/* CHAT UI */
.chat-body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ece5dd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 400px;
  height: 600px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.chat-header {
  background: #075e54;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #e5ddd5;
}

.chat-input {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.chat-input button {
  margin-left: 8px;
  padding: 10px 15px;
  border-radius: 50%;
  background: #075e54;
  color: white;
  border: none;
  cursor: pointer;
}

/* messages */
.msg {
  max-width: 70%;
  padding: 8px 12px;
  margin: 6px 0;
  border-radius: 10px;
  font-size: 14px;
}

.me {
  background: #dcf8c6;
  margin-left: auto;
}

.other {
  background: white;
  margin-right: auto;
}

.user {
  font-size: 12px;
  font-weight: bold;
}

.time {
  font-size: 10px;
  text-align: right;
  color: gray;
}
